In [3]:
import requests
import pandas as pd
from io import StringIO
import csv
from tqdm import tqdm_notebook as tqdm
import sqlite3

In [4]:
#grabbing finance data from yahoo finance for use:

company_list = ['AMZN', 'TSLA', 'AAPL']
stockdata = []
def getData(company_stock):
    url = f'https://query1.finance.yahoo.com/v7/finance/download/{company_stock}?'
    params = {
           'range': '1y',
           'interval':'1mo',
           'events':'history',
           'includeAdjustedClose':'true'}
    url_info = requests.get(url,params = params, headers= {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"})
    #print(url_info.text)
    file = StringIO(url_info.text)
    reader = csv.reader(file)
    data = list(reader)
    #print(data)

    data_frame = pd.DataFrame(data[1:], columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])
    data_frame.insert(1, 'Company Name', f'{company_stock}')
    return pd.DataFrame(data_frame)
    
for company in company_list:
    stockdata.append(getData(company))
    print(f'Getting: {company}')

Getting: AMZN
Getting: TSLA
Getting: AAPL

In [5]:
combined_list = pd.concat(stockdata)
print(combined_list)

          Date Company Name        Open        High         Low       Close  \
0   2022-02-01         AMZN  150.000000  163.834503  138.332993  153.563004
1   2022-03-01         AMZN  152.732498  170.831497  133.572495  162.997498
2   2022-04-01         AMZN  164.149506  168.394501  121.625000  124.281502
3   2022-05-01         AMZN  122.401001  126.220497  101.260002  120.209503
4   2022-06-01         AMZN  122.255997  128.990005  101.430000  106.209999
5   2022-07-01         AMZN  106.290001  137.649994  105.849998  134.949997
6   2022-08-01         AMZN  134.960007  146.570007  126.739998  126.769997
7   2022-09-01         AMZN  126.000000  136.490005  112.059998  113.000000
8   2022-10-01         AMZN  113.580002  123.000000   97.660004  102.440002
9   2022-11-01         AMZN  103.989998  104.580002   85.870003   96.540001
10  2022-12-01         AMZN   96.989998   97.230003   81.690002   84.000000
11  2023-01-01         AMZN   85.459999   98.370003   81.430000   98.120003
12  2023-01-13         AMZN   94.180000   98.370003   94.150002   98.120003
0   2022-02-01         TSLA  311.736664  315.923340  233.333328  290.143341
1   2022-03-01         TSLA  289.893341  371.589996  252.013336  359.200012
2   2022-04-01         TSLA  360.383331  384.290009  273.899994  290.253326
3   2022-05-01         TSLA  286.923340  318.500000  206.856674  252.753326
4   2022-06-01         TSLA  251.720001  264.209991  208.693329  224.473328
5   2022-07-01         TSLA  227.000000  298.320007  216.166672  297.149994
6   2022-08-01         TSLA  301.276672  314.666656  271.809998  275.609985
7   2022-09-01         TSLA  272.579987  313.799988  262.470001  265.250000
8   2022-10-01         TSLA  254.500000  257.500000  198.589996  227.539993
9   2022-11-01         TSLA  234.050003  237.399994  166.190002  194.699997
10  2022-12-01         TSLA  197.080002  198.919998  108.239998  123.180000
11  2023-01-01         TSLA  118.470001  125.949997  101.809998  122.400002
12  2023-01-13         TSLA  116.550003  122.629997  115.599998  122.400002
0   2022-02-01         AAPL  174.009995  176.649994  152.000000  165.119995
1   2022-03-01         AAPL  164.699997  179.610001  150.100006  174.610001
2   2022-04-01         AAPL  174.029999  178.490005  155.380005  157.649994
3   2022-05-01         AAPL  156.710007  166.479996  132.610001  148.839996
4   2022-06-01         AAPL  149.899994  151.740005  129.039993  136.720001
5   2022-07-01         AAPL  136.039993  163.630005  135.660004  162.509995
6   2022-08-01         AAPL  161.009995  176.149994  157.139999  157.220001
7   2022-09-01         AAPL  156.639999  164.259995  138.000000  138.199997
8   2022-10-01         AAPL  138.210007  157.500000  134.369995  153.339996
9   2022-11-01         AAPL  155.080002  155.449997  134.380005  148.029999
10  2022-12-01         AAPL  148.210007  150.919998  125.870003  129.929993
11  2023-01-01         AAPL  130.279999  134.919998  124.169998  134.759995
12  2023-01-13         AAPL  132.029999  134.919998  131.660004  134.759995

     Adj Close      Volume
0   153.563004  1689604000
1   162.997498  1628486000
2   124.281502  1465008000
3   120.209503  2258476000
4   106.209999  1767601100
5   134.949997  1337852600
6   126.769997  1170449000
7   113.000000  1210487600
8   102.440002  1459311500
9    96.540001  2035133200
10   84.000000  1549122100
11   98.120003   703558300
12   98.120003    85282448
0   290.143341  1391126700
1   359.200012  1729272900
2   290.253326  1520959800
3   252.753326  1948221600
4   224.473328  2011227900
5   297.149994  1744884000
6   275.609985  1695263200
7   265.250000  1299271000
8   227.539993  1735263100
9   194.699997  1885275300
10  123.180000  2943774900
11  122.400002  1681931500
12  122.400002   180714119
0   164.167206  1627516300
1   173.823639  2180800100
2   156.939987  1687795600
3   148.169693  2401040300
4   136.304245  1749099800
5   162.015808  1447125400
6   156.741898  1510239600
7   137.971115  2084722800
8   153.086044  1868139700
9   147.784851  1724847700
10  129.929993  1675657600
11  134.759995   703163900
12  134.759995    57809719

In [6]:
#Using SQLite3: 
connection = sqlite3.connect('practice_finance.sqlite3') #Creating local database file
cursor = connection.cursor()
cursor.execute('Drop Table if exists stock_data')
#Creating table:
tables_1 = 'Create Table stock_data (id integer, date datetime, company_name varchar(100) , open integer, high integer, low integer, close integer, adj_close integer, volume integer)'  
cursor.execute(tables_1)

connection.commit()

In [7]:
#inserting information:
insert_amazon = 'Insert into stock_data (id, date, company_name, open, high, low, close, adj_close, volume) values (?, ?, ?, ?, ?, ?, ?, ?, ?)'
cursor = connection.cursor()
for info in combined_list.itertuples():
    cursor.execute(insert_amazon, info)
connection.commit()

In [8]:
#Query:
query_1 = ''' 
select * from stock_data where company_name = 'AMZN'
'''
for i in cursor.execute(query_1):
    print(i)

(0, '2022-02-01', 'AMZN', 150, 163.834503, 138.332993, 153.563004, 153.563004, 1689604000)
(1, '2022-03-01', 'AMZN', 152.732498, 170.831497, 133.572495, 162.997498, 162.997498, 1628486000)
(2, '2022-04-01', 'AMZN', 164.149506, 168.394501, 121.625, 124.281502, 124.281502, 1465008000)
(3, '2022-05-01', 'AMZN', 122.401001, 126.220497, 101.260002, 120.209503, 120.209503, 2258476000)
(4, '2022-06-01', 'AMZN', 122.255997, 128.990005, 101.43, 106.209999, 106.209999, 1767601100)
(5, '2022-07-01', 'AMZN', 106.290001, 137.649994, 105.849998, 134.949997, 134.949997, 1337852600)
(6, '2022-08-01', 'AMZN', 134.960007, 146.570007, 126.739998, 126.769997, 126.769997, 1170449000)
(7, '2022-09-01', 'AMZN', 126, 136.490005, 112.059998, 113, 113, 1210487600)
(8, '2022-10-01', 'AMZN', 113.580002, 123, 97.660004, 102.440002, 102.440002, 1459311500)
(9, '2022-11-01', 'AMZN', 103.989998, 104.580002, 85.870003, 96.540001, 96.540001, 2035133200)
(10, '2022-12-01', 'AMZN', 96.989998, 97.230003, 81.690002, 84, 84, 1549122100)
(11, '2023-01-01', 'AMZN', 85.459999, 98.370003, 81.43, 98.120003, 98.120003, 703558300)
(12, '2023-01-13', 'AMZN', 94.18, 98.370003, 94.150002, 98.120003, 98.120003, 85282448)

In [9]:
query_2 = ''' 
select date, company_name, max(close), min(close) from stock_data
'''
for i in cursor.execute(query_2):
    print(i)

('2022-12-01', 'AMZN', 359.200012, 84)

In [10]:
amzn_data_maximum = ''' 
select date, avg(open), avg(close), max(close), min(close) from stock_data where company_name = 'AMZN'
'''
for i in cursor.execute(amzn_data_maximum):
    print(i)

('2022-12-01', 120.99915438461538, 117.0155006923077, 162.997498, 84)

In [ ]:
#using python to reverse the process as in opening a database file and saving it as csv

sql_query = pd.read_sql_query(amzn_data_maximum, connection)
data_file_python = pd.DataFrame(sql_query)
print(data_file_python)

connection.close()

In [28]:
#saving the python file for later

data_file_python.to_csv('Amazon_stock_info.csv')